body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

.top-container {
  background-color: #EAF9F5;
  padding-top: 100px;
  position: relative;
}
.middle-container{
  margin: 100px 0;
}
.kkk{
  width: 250px;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
p{
  line-height: 2;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.computer-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chillie-img{
width: 25%;
float: right;
margin-left: 30px;
}
.bottom-container{

  background-color: #66BFBF;
  padding: 50px 0 20px;


}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;

}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-weight: normal;
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}


.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:8px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Merriweather', serif;
	font-size:20px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}
